#container {width: 500px;height:100px;padding: 5px;margin: 0 auto;border: 2px solid silver;margin-top:150px;border-radius: 5px;}
#container h2 {margin: 0 auto;text-align: center;color: #D2691E;}
#txar {width: 360px;}
#btn {width: 100px; color:#D2691E;border-radius: 5px; }
img {width: 13px;width: 13px;padding-top:2px;}
#result { width: 500px;margin-top: 20px;margin: 0 auto;}